/* Custom CSS - do not remove! */

body {
  font-size: 1.8em;
  padding-top: 1%;
  margin: 0;
  line-height:2;
  color: #3C3C3C;
}

footer {
  text-align:center;
}

a {
  color: #B30A05;
}

.contact {
  text-align:center;
  margin:0;
}

.content {
  text-align:center;
}

.headline {
  text-align:center;
  margin-top:3%;
}

p {
  text-align:left;
}

.subp {
  font-size: 1.2em;
  weight:bold;
}

.services {
  text-align:center;
  margin-top: 1%;
}

.services-list {
  text-align:center;
  font-size:1.1em;
}

.buttons {
  margin-top:1%;
}

.btn-danger {
  color: #ffffff;
  background-color: #AB0D0D;
  border-color: #AB0D0D;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #CA0F0F;
  border-color: #CA0F0F;
}